/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.navbar{
  background-color: rgba(124, 225, 112, 0.851);
  display: flex;
  justify-content: space-around;
}
.navbar a{
  padding: 1%;
  color:rgb(11, 10, 10);
  text-decoration: none;
}
.navbar a:hover{
  background-color: rgba(95, 244, 239, 0.759);
  color: rgb(243, 6, 6);
}
.CartCss, .NotFoundCss {
  text-align: center;
  padding: 17%;
  font-size: 190%;
}
.product-item{
  margin-top: 5%;
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
}
.product-ite{
  border-style: solid;
  border-radius: 5%;
  padding: 5%;
  margin: 9%
}
.product-ite:hover{
  transform: scale(1.04);
}
.product-ite:hover{
  color: red;
  cursor: grab;
}
.productimage{
  width:70%;
  height: 60%;
  border-radius: 16px;
}

.searchBar{
 padding: 10%;
}
.se22e{
  border-style: solid;
  
}
.aboutclass{
  color:green
}